body{
 background: #fff;
}

#text{
 color: #fff;
 background-color: #42cef5;
 width: 20em;
 height: 20em;
 align-items: center;
 align-self: center;
 text-align: center;
 margin: auto;
 padding: auto;
 
}


.text-1{
 font-size: 40px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight: 800;
 font-style: normal;
 font-display: center;
 padding-top: 40%;
}