body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

 .background {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, sans-serif;
  color: #fff;
  background: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);

 }

  .number{
   position: relative;
   height: 100px;
   width: 200px;
   display: flex;
  }

   .one{
    height: 100px;
    display: flex;
    width: 24px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
   }

&::before{
 content: "";
 position: absolute;
 height: 40px;
 width: 24px;
 transform: rotate(50deg);
 background-color: #fff;
 border-radius: 3px;
 left: -18px;
 top: 2px;

}

.zero-first, .zero-second{
 height: 50px;
 width: 50px;
 border: 24px solid #fff;
 border-radius: 50%;
}


